@import "tailwindcss";

#a-bo{
    position: relative;
}

#a-bo::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: green;
    transition: 0.3s ease;
    bottom: 0;
    left: 0;
}

#a-bo:hover::after{
    width: 100%;
}